{% extends "base.html" %}
{% block title %}Edit question | {{ poll.title }}{% endblock %}
{% block breadcrumbs %}
    <li><a href="{% url 'polls:index' %}">Polls</a></li>
    <li><a href="{% url 'polls:entry' poll.id %}">{{ poll.title }}</a></li>
    <li><a href="{% url 'polls:questions' poll.id %}">Questions</a></li>
    <li>
        <a href="{% url 'polls:edit_question' poll.id question.id %}">Edit</a>
    </li>
{% endblock %}
{% block main %}
    <h1>{{ poll.title }}<span>Edit question</span></h1>
    <form
        method="post"
        action="{% url 'polls:edit_question_submit' poll.id question.id %}"
    >
        {% csrf_token %}
        {{ form }}
        {{ choice_formset }}
        <button
            formaction="{% url 'polls:edit_question_add_choice' poll.id question.id %}"
            formnovalidate
        >
            Add choice
        </button>
        <button>Save</button>
    </form>
{% endblock main %}
