{% extends "base.html" %}
{% block title %}{{ poll }}{% endblock %}
{% block breadcrumbs %}
    <li><a href="{% url 'polls:index' %}">Polls</a></li>
    <li><a href="{% url 'polls:entry' poll.id %}">{{ poll.title }}</a></li>
{% endblock %}
{% block main %}
    <h1>{{ poll }}</h1>
    <form method="post" action="{% url 'polls:entry_submit' poll.id %}">
        {% csrf_token %}
        {% for question in poll.question_set.all %}
            <fieldset>
                <legend><h2>{{ question.text }}</h2></legend>
                {% for choice in question.choice_set.all %}
                    <label>
                        {{ choice.text }}
                        <input
                            type="radio"
                            name="{{ question.id }}"
                            value="{{ choice.id }}"
                            required
                        />
                    </label>
                {% endfor %}
            </fieldset>
        {% endfor %}
        <button>Submit</button>
    </form>
{% endblock main %}
