@import "/static/polls/css/entry.css";

.question + .question {
    margin-top: 1rem;
}

.choice-list {
    display: grid;
    grid-template-columns: min-content auto;
    margin-left: 2rem;
    margin-top: 1rem;
    column-gap: 1rem;
}

.choice-list li {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
}

.choice-list .votes {
    font-variation-settings: "MONO" 1;
    text-align: right;
}
