body > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body > header > nav {
    display: flex;
    gap: 1rem;
}

#logo {
    font-size: 1.5rem;
    text-decoration: none;
    color: inherit;
}
