@import "/static/css/reset.css";
@import "/static/css/nav.css";
@import "/static/css/forms.css";
@import "/static/polls/css/styles.css";

@font-face {
    font-family: "ABC Diatype Rounded";
    src: url("/static/fonts/ABCDiatypeRoundedVariable.woff2");
}

:root {
    font-size: 20px;
    font-synthesis: none;
}

a {
    color: black;
    text-decoration-color: silver;
    text-underline-offset: 0.125em;
    text-decoration-thickness: 1px;
    font-weight: 450;
}

a:hover {
    text-decoration-color: black;
}

body {
    font-family: "ABC Diatype Rounded";
    -webkit-font-smoothing: antialiased;
    line-height: 1.3;
    padding: 1rem 2rem;
    box-sizing: border-box;
    background-color: whitesmoke;
    font-weight: 425;
}

main {
    margin: 2rem auto;
    border: 1px solid silver;
    background-color: white;
    max-width: 750px;
}

h1 {
    font-size: 1.5rem;
    font-weight: 450;
    text-align: center;
    letter-spacing: -0.025em;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid gainsboro;
}

h1 span {
    display: block;
    color: dimgray;
    font-weight: 450;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 0.80rem;
    margin-top: 0.25rem;
}

button {
    font-family: "ABC Diatype Rounded";
    font-size: 0.75rem;
    border: 0;
    border-radius: 1em;
    padding: 0.35rem 0.7rem 0.3rem 0.7rem;
    background: black;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.075em;
}

main > div {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

main > header {
    display: flex;
    justify-content: space-between;
    background: silver;
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem 0.20rem 0.5rem;
    letter-spacing: 0.01em;
}

#main-nav ul {
    display: flex;
    gap: 0.5rem;
}

#main-nav li:first-child::before {
    content: "|";
    color: dimgray;
    margin-right: 0.5rem;
}

#breadcrumbs ul {
    display: flex;
}

#breadcrumbs a {
    color: dimgray;
}

#breadcrumbs:hover a {
    color: black;
}

#breadcrumbs li + li:before {
    content: "›";
    color: dimgray;
    margin: 0 0.25rem;
}

#index-form {
    display: flex;
    font-size: 0.85rem;
    gap: 0.5rem;
}

#index-form label {
    display: flex;
    white-space: nowrap;
    border: 1px solid gainsboro;
    background: gainsboro;
}

#index-form label:has(select)::after {
    content: "▼";
    margin-top: 0.4rem;
    margin-bottom: -0.4rem;
    padding: 0 0.2rem 0 0.25rem;
    color: dimgray;
    font-size: 0.6rem;
}

#index-form label:has(input:focus) {
    border-color: dodgerblue;
}

#index-form label span {
    color: dimgray;
    padding: 0.2em 0.5em 0 0.5em;
}

#index-form label:has([name="search"]) {
    width: 100%;
}

#index-form input[name="search"] {
    width: 100%;
}

#index-form input, #index-form select {
    font-family: inherit;
    font-size: inherit;
    appearance: none;
    border-radius: 0;
    padding: 0.25rem 0.5rem 0.1rem 0.5rem;
    border: 0;
    outline: 0;
}

form {
    font-size: 0.85rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: start;
}

label {
    display: flex;
    flex-direction: column;
    align-items: start;
}

label:has(input[type="text"]) {
    width: 100%;
}

input, textarea {
    width: 100%;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    appearance: none;
    border-radius: 0;
    padding: 0.25rem 0.5rem 0.2rem 0.5rem;
    border: 1px solid gainsboro;
    outline: 0;
}

label span {
    color: dimgray;
    padding: 0.2rem 0.5rem 0 0.5rem;
    background: gainsboro;
}
