@import "/static/css/reset.css";
@import "/static/css/nav.css";
@import "/static/css/forms.css";
@import "/static/polls/css/styles.css";

@font-face {
    font-family: "ABC Diatype Rounded";
    src: url("/static/fonts/ABCDiatypeRoundedVariable.woff2");
}

:root {
    font-size: 20px;
    font-synthesis: none;
}

a {
    color: black;
    text-decoration-color: silver;
    text-underline-offset: 0.125em;
    text-decoration-thickness: 1px;
    font-weight: 450;
}

a:hover {
    text-decoration-color: black;
}

body {
    font-family: "ABC Diatype Rounded";
    -webkit-font-smoothing: antialiased;
    line-height: 1.3;
    padding: 1rem 2rem;
    box-sizing: border-box;
    background-color: whitesmoke;
}

main {
    margin: 2rem auto;
    border: 1px solid silver;
    background-color: white;
    max-width: 800px;
}

h1 {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: -0.025em;
    padding-bottom: 1rem;
    border-bottom: 2px dotted silver;
}

h1 span {
    display: block;
    color: dimgray;
    font-weight: 450;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 0.80rem;
}

.button {
    padding: 0.5rem 0.75rem 0.35rem 0.75rem;
    background-color: black;
    color: white;
    border-radius: 5px;
}

button {
    font-family: "ABC Diatype Rounded";
    font-size: 1rem;
    border: 0;
}

main > div {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

main > header {
    background: silver;
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem 0.20rem 0.5rem;
    letter-spacing: 0.01em;
}

#breadcrumbs ul {
    display: flex;
}

#breadcrumbs a {
    color: dimgray;
}

#breadcrumbs:hover a {
    color: black;
}

#breadcrumbs li + li:before {
    content: "›";
    color: dimgray;
    margin: 0 0.25rem;
}
